body, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 0;
}

.wrapper {
    position: relative;
    margin: 100px auto;
    width: 590px;
    height: 470px;
    border: 5px solid hotpink;
    overflow: hidden;
}

.wrapper .list {
    position: absolute;
    left: 0;
    width: 3540px;
    height: 470px;
}

.list li {
    display: inline-block;
    width: 590px;
    height: 470px;
}
.btn {
    position: absolute;
    top: 50%;
    width: 100%;
}

.btn a {
    position: absolute;
    margin-top: -22px;
    width: 15px;
    height: 24px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background: rgba(0, 0, 0, .5)
}
.btn .prev {
    left: 0;
}
.btn .next {
    right: 0;
}
.order {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;

}
.order ul {
    display: inline-block;
    background: rgba(0, 0, 0, .5);
    border-radius: 7px;
}
.order .item {
    display: inline-block;
    margin: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
.order .active {
    background: #ff5000;
}
